@model IEnumerable<PassionProjectN01661067.Models.ProductDto>
@{
    ViewBag.Title = "List";
}

<h2>List Products</h2>

@foreach (var Item in Model)
{
    <div><div>
    <a href="/Product/Show/@Item.ProductId">
        @Item.ProductName
</div>(@Item.ProductPrice) (@Item.StockQuantity) (@Item.NoOfTransactions) (@Item.SupplierId) </div>

}

