﻿@model PassionProjectN01661067.Models.ProductDto
@{
    ViewBag.Title = "Show";
}

<h2>Show Products</h2>
<a href="/Product/List">Go back to list</a>



<h2>@Model.ProductName</h2>
<div>@Model.ProductPrice</div>
<div>@Model.StockQuantity</div>
<div>@Model.NoOfTransactions</div>
<div>@Model.SupplierId</div>