@model PassionProjectN01661067.Models.SupplierDto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Supplier</h2>

<form method="POST" action="/Supplier/Update/@Model.SupplierId">
    <input type="text" style="display:none;" name="SupplierId" value="@Model.SupplierId" />
    <div>
        <label>Supplier Name:</label>
        <input type="text" name="SupplierName" value="@Model.SupplierName" />
    </div>
    <div>
        <label>Contact Person:</label>
        <input type="text" name="ContactPerson" value="@Model.ContactPerson" />
    </div>
    <div>
        <label>Email Address:</label>
        <input type="email" name="EmailAddress" value="@Model.EmailAddress" />
    </div>
    <div>
        <label>Supplier Address:</label>
        <input type="text" name="SupplierAddress" value="@Model.SupplierAddress" />
    </div>
   

    <div>

        <input type="submit" value="Update" />
    </div>

</form>

